@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Emoji";
  src: url(../assets/fonts/NotoColorEmoji-Regular.ttf);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  color: black !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: inherit !important;
  text-decoration: underline !important;
  text-decoration-color: #ebebeb !important;
}

.red-gradient {
  background: linear-gradient(180deg, #DB3838 0%, #6F0707 100%);
}

.blue-gradient {
  background: linear-gradient(180deg, #38B4DB 0%, #07496F 100%);
}

.extra-rounded {
  border-radius: 2rem;
}